In [1]:
# Group 3 - Assignment 5 - Part 3 (with support of Zhen Li)
import sqlite3

conn = sqlite3.connect('music.sqlite')
cur = conn.cursor()
cur.execute('DROP TABLE IF EXISTS studentId') 
cur.execute('CREATE TABLE studentID (ID, name, PRIMARY KEY (ID))') 

cur.execute('DROP TABLE IF EXISTS courseId') 
cur.execute('CREATE TABLE courseId (ID, nameCourse, PRIMARY KEY (ID)) ') 

cur.execute('DROP TABLE IF EXISTS studentCourse') 
cur.execute('CREATE TABLE studentCourse (STUDENT_ID, COURSE_ID, PRIMARY KEY (STUDENT_ID, COURSE_ID))')

cur.execute('INSERT INTO studentId (ID, name) VALUES (?, ?)', ('001', 'Quang'))
cur.execute('INSERT INTO studentId (ID, name) VALUES (?, ?)', ('002', 'Luis')) 
cur.execute('INSERT INTO studentId (ID, name) VALUES (?, ?)', ('003', 'Sushant')) 
cur.execute('INSERT INTO studentId (ID, name) VALUES (?, ?)', ('004', 'Bkalp'))

cur.execute('INSERT INTO courseId (ID, nameCourse) VALUES (?, ?)', ('BDAT1000', 'Data Manipulation Techniques')) 
cur.execute('INSERT INTO courseId (ID, nameCourse) VALUES (?, ?)', ('BDAT1001', 'Information Encoding Standards')) 
cur.execute('INSERT INTO courseId (ID, nameCourse) VALUES (?, ?)', ('BDAT1002', 'Data System Achitecture')) 
cur.execute('INSERT INTO courseId (ID, nameCourse) VALUES (?, ?)', ('BDAT1003', 'Business Process')) 
cur.execute('INSERT INTO courseId (ID, nameCourse) VALUES (?, ?)', ('BDAT1004', 'Data Programming')) 
cur.execute('INSERT INTO courseId (ID, nameCourse) VALUES (?, ?)', ('BDAT1005', 'Math for Data Analytics'))

cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('001', 'BDAT1000')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('001', 'BDAT1001')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('001', 'BDAT1002')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('001', 'BDAT1003')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('001', 'BDAT1004')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('001', 'BDAT1005'))
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('002', 'BDAT1000')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('002', 'BDAT1001')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('002', 'BDAT1002')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('002', 'BDAT1003')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('002', 'BDAT1004')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('002', 'BDAT1005'))
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('003', 'BDAT1000')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('003', 'BDAT1001')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('003', 'BDAT1002')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('003', 'BDAT1003')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('003', 'BDAT1004')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('003', 'BDAT1005'))
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('004', 'BDAT1000')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('004', 'BDAT1001')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('004', 'BDAT1002')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('004', 'BDAT1003')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('004', 'BDAT1004')) 
cur.execute('INSERT INTO studentCourse (STUDENT_ID, COURSE_ID) VALUES (?, ?)', ('004', 'BDAT1005'))

cur.execute('''SELECT 
    S.name , 
    C.nameCourse 
FROM studentId S INNER JOIN studentCourse SC ON S.ID = SC.STUDENT_ID 
    INNER JOIN courseId C ON SC.COURSE_ID = C.ID''') 

for row in cur: 
    print(row)
conn.close()

('Quang', 'Data Manipulation Techniques')
('Quang', 'Information Encoding Standards')
('Quang', 'Data System Achitecture')
('Quang', 'Business Process')
('Quang', 'Data Programming')
('Quang', 'Math for Data Analytics')
('Luis', 'Data Manipulation Techniques')
('Luis', 'Information Encoding Standards')
('Luis', 'Data System Achitecture')
('Luis', 'Business Process')
('Luis', 'Data Programming')
('Luis', 'Math for Data Analytics')
('Sushant', 'Data Manipulation Techniques')
('Sushant', 'Information Encoding Standards')
('Sushant', 'Data System Achitecture')
('Sushant', 'Business Process')
('Sushant', 'Data Programming')
('Sushant', 'Math for Data Analytics')
('Bkalp', 'Data Manipulation Techniques')
('Bkalp', 'Information Encoding Standards')
('Bkalp', 'Data System Achitecture')
('Bkalp', 'Business Process')
('Bkalp', 'Data Programming')
('Bkalp', 'Math for Data Analytics')